.root {
    -fx-background-color: #949292;
    -fx-background-size: cover;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: #cc0000;
    -fx-text-alignment: center;
}

.button:pressed {
    -fx-translate-y: +2;
}

.button:hover {
    -fx-background-color: #fffd63;
}

#title {
    -fx-text-fill: yellow;
    -fx-font-size: 24;
    -fx-font-weight: bold;
}
